---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  performance-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
WarningsAsErrors: "*"
HeaderFilterRegex: 'include/condy/.*\.hpp$'
FormatStyle: "file"
CheckOptions: []
