[submodule "third_party/doctest"]
	path = third_party/doctest
	url = https://github.com/doctest/doctest.git
[submodule "third_party/liburing"]
	path = third_party/liburing
	url = https://github.com/axboe/liburing.git
