name: Static Check

on:
  push:
    branches: ["master"]
    paths-ignore:
      - "docs/**"
      - "**.md"
  pull_request:
    branches: ["master"]
    paths-ignore:
      - "docs/**"
      - "**.md"

env:
  LIBURING_VERSION: 2.13

jobs:
  static-check:
    runs-on: ubuntu-24.04
    timeout-minutes: 5

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Formatting Check
        run: |
          bash ./scripts/format-all.sh

      - name: Checkout Liburing to Latest Version
        run: |
          git submodule update --init --recursive
          cd ./third_party/liburing
          git fetch --tags
          git checkout liburing-${{ env.LIBURING_VERSION }}
          cd ../../

      - name: Configure CMake
        run: |
          cmake -B ${{github.workspace}}/build \
              -DBUILD_EXAMPLES=ON \
              -DBUILD_BENCHMARKS=ON \
              -DBUILD_TESTS=ON \
              -DCMAKE_C_COMPILER=clang \
              -DCMAKE_CXX_COMPILER=clang++ \
              -DCMAKE_BUILD_TYPE=Debug \
              -DCMAKE_EXPORT_COMPILE_COMMANDS=ON

      - name: Static Analysis
        run: |
          bash ./scripts/check-all.sh
